<div>
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="inner-adjust">
          <div class="row" *ngIf="authService.userData as user">
            <!-- <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <h3><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h3>
                  <p>User ID: <strong>{{user.uid}}</strong></p>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
    </div>
  </div>
</div>