<div class="container-fluid displayTable">
    <div class="row align-items-center displayTableCell">
      <div class="col-3"></div>
      <div class="col-6 authBlock border rounded text-center">
        <h3>Sign In</h3>
        <div class="formGroup">
          <button type="button" class="btn googleBtn btn-secondary btn-lg" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  