.col-1{
    /* background-color: aqua; */
    height: 1vh;
}
.container-fluid {
    height: 94vh;
  }

  .modal{
      font-size: 14px;
  }
  .form-group{
      padding: 2px;
  }
  .col-4{
      /* background-color: blue; */
      padding-top: 10px;
  }